@charset "UTF-8";
body {
	padding-top: 2%;
	background: #EEF2E6;
  	font-family: 'Inter UI', sans-serif;
}

form label {
	display: inline-block;
	width: 625%;
}
.form-login #email_error, .form-login #password_error, .form-login #email_error1,
	.form-login #password_error1 {
	margin-top: 5px;
	width: 2156%;
	font-size: 112%;
	color: #C62828;
	display: none;
}
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
.page {
  display: flex;
  margin-left: 35%;
  margin-right: auto;
  flex-direction: column;
  position: absolute;
  place-content: center;
  height: 35%;
  width: 35%;
}
/* @media (max-width: 900px) {
  .page {
    height: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
} */
.container {
  display: flex;
  height: 200%;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 670px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
  border: none;
  min-width: 250px;
  border-top-left-radius: 12%;
  border-bottom-left-radius: 12%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
    border-radius: 12%;
  }
}
.login {
  font-size: 250%;
  font-weight: 900;
  margin: 8% 15% 5%;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 10%;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  min-width: 300px;
  width: 50%;
  border: none;
  border-radius: 5%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 400px;
  }
}
svg {
  position: absolute;
  width: 100%;
  margin-top: 10%;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
form {
  margin: 15%;
  position: absolute;
}

input:focus {
  color:  #c2c2c5;
  display: block;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 145%;
  height: 20%;
  line-height: 20%;
  outline: none !important;
  width: 100%;
  margin-bottom: 10%;
}

#twofuns {
  background: transparent;
  border: none;
  color: #f2f2f2;
  font-size: 20px;
  height: 2%;
  line-height: 30px;
  outline: none !important;
  width: 100%;
  margin-top: 8%;
}
#twofuns:active {
  color: #d0d0d2;
} 
#twofuns::before{
    color: #c2c2c5;
}
a{
    color: #d0d0d2;
    text-decoration: none;
    margin: 8% 10%;

}
a:hover {
    color: #f2f2f2;
}
p{
  text-align: center;
}
.cicle-1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f9d3c8;
  clip-path: circle(45% at 0 0);
  z-index: -5;
}
.cicle-2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #7895B2;
  clip-path: circle(45% at right 90%);
}
.background{
  z-index: 5;
  margin-top: 4%;
  margin-left: 10%;
}
hr{
  border: 10% solid #C62828;
  width: 100%;
}
/* @media (max-width: 1200px){
	.background{
		width: 100px;
		height: 100px;
	}
} */