@charset "UTF-8";
body {
	padding-top: 10%;
	background: #EEF2E6;
  	font-family: 'Inter UI', sans-serif;
}

form label {
	display: inline-block;
	width: 625%;
}
.form-login #email_error, .form-login #password_error, .form-login #email_error1,
	.form-login #password_error1 {
	margin-top: 5px;
	width: 2156%;
	font-size: 112%;
	color: #C62828;
	display: none;
}
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
.page {
  display: flex;
  margin-left: 35%;
  margin-right: auto;
  flex-direction: column;
  position: absolute;
  place-content: center;
}
@media (max-width: 5625%) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 2000%;
  margin: 0 auto;
  width: 4000%;
}
@media (max-width: 4794%) {
  .container {
    flex-direction: column;
    height: 3937.5%;
    width: 2000%;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 125%;
  position: relative;
  width: 50%;
  border: none;
  border-top-left-radius: 187.5%;
  border-bottom-left-radius: 187.5%;
}
@media (max-width: 4793.75%) {
  .left {
    height: 100%;
    left: 125%;
    width: calc(2000% - 250%);
    max-height: 1687.5%;
  }
}
.login {
  font-size: 312.5%;
  font-weight: 900;
  margin: 312.5% 312.5% 250%;
}