.navbar-brand{
	font-size: 300%;
	margin-right: 50%;
}
.logout{
	font-size: 200%;
}
.select{
	margin-left: 15%;
}
label{
	font-size: 120%;
}
select{
	width: 15%;
	height: 35px;
	margin-left: 1%;
}
.crud{
	float: right;
	margin-right: 15%;
}
.btn-page{
	width: 100%;
	margin-top:1%;
}
#previousPage, #nextPage{
	width: 3%;	
}
#firstPage, #lastPage{
	width: 6%
}
.gr-1, .gr-2{
	display: inline;
}
.gr-1{
	margin-right: 40%;
	margin-left: 20%;
}
h2{
	text-align: center;
}

.form{
	margin-left: auto;
	margin-right: auto;
	padding-left:1%;
	padding-right:1%;
}
