.navbar-brand {
	font-size: 300%;
	margin-right: 50%;
}

.logout {
	font-size: 200%;
}

.select {
	margin-left: 15%;
}

label {
	font-size: 120%;
}

select {
	width: 15%;
	height: 35px;
	margin-left: 1%;
}

.crud {
	float: right;
	margin-right: 15%;
	margin-top: 3%;
}

.btn-page {
	width: 100%;
	margin-top: 0.5%;
}

#previousPage, #nextPage {
	width: 3%;
}

#firstPage, #lastPage {
	width: 6%
}

.gr-1, .gr-2 {
	display: inline;
}

.gr-1 {
	margin-right: 40%;
	margin-left: 20%;
}

h2 {
	text-align: center;
}

.form {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1%;
	padding-right: 1%;
}

.table {
	border: 2px solid #243c68;
	border-collapse: collapse;
	overflow: hidden;
	table-layout: auto;
}

th {
	padding: 1em;
	background: #243c68;
	border-bottom: 2px solid white;
	color: #fff;
}

tr td a{
	color: #333;
}
tr:hover,tr td a:hover {
	background-color: #428bca;
	color: #fff;
}

p {
	white-space: nowrap;
	max-width: 270px;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.background {
	z-index: 5;
	margin-top: 4%;
	margin-left: 10%;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #243c68;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	color: #fff;
	max-width: 400px;
}

.sidenav a {
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	color: #fff;
	padding: 8px 8px 8px 20px;
	
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 18%;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
@media screen and (max-width: 200px) {
  .sidenav {width: 35%;}
}
ul, li{
	list-style: none;
}
#btn-chart{
	color: #fff;
	background-color: #243c68;
	border: none;
	margin: 2%;
	font-size: 15px;
	font-weight: 600;
}

li ul{
	display: none;
    position: relative;
}
 li:hover > ul{
    display:  block;
}


#input-search{
	width: 30%;
	margin-left:30%;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
input[type="text"]::placeholder {
  padding-left: 10px;
}
#input-search, #btn-search{
	height: 35px;
	border: solid 1px;
}

#btn-search{
	margin-left: -35px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}









.popup-container, .popup-container1, .popup-container2, .popup-container3, .popup-container4, .popup-container5 {
  /* width: 600px; */
  background: #edf6f9;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  font-family: "Raleway", sans-serif;
  padding: 8px 32px;
  border-radius: 8px;
  box-shadow: 0 4px 20px -8px rgba(0, 0, 0, 0.3);
  padding-bottom: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 500ms cubic-bezier(0.07, 0.71, 0.3, 1.2);
}

.popup-container.active, .popup-container1.active, .popup-container2.active, 
.popup-container3.active, .popup-container4.active, .popup-container5.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: auto;
}

.popup-container .chart-container, .popup-container1 .chart-container1, .popup-container2 .chart-container2, 
.popup-container3 .chart-container3, .popup-container4 .chart-container4, .popup-container5 .chart-container5 {
  width: 600px;
}

.popup-container .popup-content, .popup-container1 .popup-content1, .popup-container2 .popup-content2,
.popup-container3 .popup-content3, .popup-container4 .popup-content4, .popup-container5 .popup-content5 {
  display: flex;
}

.popup-container .close-btn, .popup-container1 .close-btn1, .popup-container2 .close-btn2,
.popup-container3 .close-btn3, .popup-container4 .close-btn4, .popup-container5 .close-btn5{
  width: 30px;
  position: absolute;
  right: 24px;
  top: 24px;
  transition: all 100ms ease;
  cursor: pointer;
  
}

.popup-container .close-btn:hover, .popup-container1 .close-btn1:hover, .popup-container2 .close-btn2:hover, 
.popup-container3 .close-btn3:hover, .popup-container4 .close-btn4:hover, .popup-container5 .close-btn5:hover {
  transform: scale(1.2);
}


@media (max-width: 720px) {
  .popup-container, .popup-container1, .popup-container2,
  .popup-container3, .popup-container4, .popup-container5 {
    width: 80%;
  }

  .popup-container .close-btn, .popup-container1 .close-btn1, .popup-container2 .close-btn2, 
  .popup-container3 .close-btn3, .popup-container4 .close-btn4, .popup-container5 .close-btn5 {
    top: -20px;
    right: 0;
    background: #24213d;
    padding: 2px 4px;
  }
}

.btn-quick{
	border: solid 1px red;
	background: red;
	font-size:17px;
}